[Desktop Entry]
Encoding=UTF-8
Name=moneyGuru
Comment=Personal finances management application.
Exec=moneyguru
Icon=@ICON@
Terminal=false
Type=Application
Categories=Qt;Office;Finance
