*.so
*.mo
*.o
__pycache__
build
env
_build
.tox
.idea/
/conf.json
/run.py
/ccore/runtests

/qt/*_rc.py
/qt/ui/*_ui.py
deps
/help/*/conf.py
/help/*/changelog.rst
/help/*/credits.rst
/help/*/image

# ctags
tags

